<div>
<div class="mat-title">SHOP COMPONENT</div>

<div>
    Product 1 Name : {{product1Name}}
    <br>
    Product 1 Description : {{product1Description}}
    <br>
    Product 1 Price: {{price1}}
    <br>
    <br>
    Product 2 Name : {{product2Name}}
    <br>
    Product 2 Description : {{product2Description}}
    <br>
</div>

<div>
    <br>
    Reference Product Price: {{mockProduct.price}}
    <button (click)="decreaseProductPrice()">Decrease Price</button>
</div>

<div fxLayout="row wrap" fxLayoutAlign="start start" class="shop-container">

    <app-product-card 
        (productDescriptioChanged)="handleProduct1DescriptionChanged($event)"
        (productNameChanged)="handleProduct1NameChanged($event)"
        [productName]="product1Name"
        [productDescription]="product1Description"
        [(price)]="price1"
        class="card">   
    </app-product-card>

    <app-product-card 
        (productDescriptioChanged)="handleProduct2DescriptionChanged($event)"
        (productNameChanged)="handleProduct2NameChanged($event)"
        [productName]="product2Name"
        [productDescription]="product2Description"
        class="card">   
    </app-product-card>

    <app-product-card-reference [product]="mockProduct" class="card">

    </app-product-card-reference>

</div>
</div>